<footer class="text-muted footer">
  <div class="container-fluid p-3 p-md-5">
    <ul class="footer-links">
      <li>
        <%= link_to "Taskun",root_path %>
      </li>
      <li>
        <%= link_to "ガイド",root_path %>
      </li>
      <li>
        <%= link_to "@2020 挫折乗り越えサロン",root_path %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー",root_path %>
      </li>
      <li>
        <%= link_to "特定商取引法",root_path %>
      </li>
      <li>
        <%= link_to "FAQ",root_path %>
      </li>
      <li>
        <%= link_to "お問い合わせ",root_path %>
      </li>
    </ul>
  </div>
</footer>